/bare_conf.aux
/bare_conf.bbl
/bare_conf.bib
/bare_conf.bib.bak
/bare_conf.blg
/bare_conf.log
/bare_conf.out
/bare_conf.out.bak
/bare_conf.pdf
/bare_conf.synctex.gz
/bare_conf.tex.bak
/concurrencycode.aux
/concurrencycode.bbl
/concurrencycode.blg
/concurrencycode.log
/concurrencycode.out
/concurrencycode.out.bak
/concurrencycode.pdf
/concurrencycode.synctex.gz
/concurrencycode.tex.bak
